# What Is Python ?

* Python is a high-level 
* interpreted, 
* general-purpose programming language 
* known for its simplicity and readability.

# How To Comment The Line In Python

* In Python We will Add The ('#') for commenting a line

# Variable In Python

In [12]:
# Variables only starts with alphabates and then numbers eg: a1=10    

A= 1   # A is called variable it means 'A' Stores the Value in it
A

1

In [14]:
1=2   # thats why we can't use the numbers

1

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (2355476884.py, line 1)

In [3]:
A="Hello" 

# In a Variable We will Add anything like numbers, Alphabates, Symbols etc 

A

'Hello'

In [5]:
# few examples of variables 

a,b = 3,4  # in this example a means 3 and b means 4
a

3

In [6]:
x,y,z = [1,2,3]
x

1

In [7]:
x=y=z  = [1,2,3]    # All are Equals to list
x

[1, 2, 3]

In [10]:
# swapping the variables 

a= 10
b= 20

a,b = b,a
a

20